<div ng-click= "navToLink()"id='container' ng-controller='LinksController'>
  <!-- Your html here -->
  <div>
    <input class='cenInput' type='text' placeholder="Enter link here" ng-model="banana">

  </div>
  <div ng-click= "navToLink()" ng-show= 'true' ng-repeat='link in data.links | filter:banana'>
    <md-button class="md-fab" aria-label="Eat cake"  ng-click= "navToLink()" href={{link.base_url}}/{{"api/links"}}/{{link.code}}>
    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Cakeisalie.svg/430px-Cakeisalie.svg.png'/>
    </md-button>
   <div class='info'>
    <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
    <div class='title'>{{link.title}}</div>
    <div class='original'>{{link.url }}</div>
    
  </div>
  </div>
</div>
