<div ng-click= "navToLink()"id='container' ng-controller='LinksController'>
  <!-- Your html here -->
  <input type='text' placeholder="Enter link here" ng-model="banana">
  <button ng-click="addLink()">Get Link</button>
  <div ng-click= "navToLink()" ng-show= 'true' ng-repeat='link in data.links | filter:banana'>
    <img src='assets/redirect_icon.png'/>
     <div class='info'>
    <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
    <div class='title'>{{link.title}}</div>
    <div class='original'>{{link.url }}</div>
    <a ng-click= "navToLink()" href={{link.base_url}}/{{"api/links"}}/{{link.code}}>{{link.base_url}}/{{"api/links"}}/{{link.code}}</a>
  </div>
  </div>
</div>
